.profile-img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
  min-height: 20em;
  margin-top: 20px;
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    hsla(220, 13%, 5%, 0.075) 0%,
    hsla(220, 13%, 5%, 0) 50%
  );
}

.about-me-header {
  border-bottom: 0.1px solid var(--linkColor);
  padding: 2em 0;
}

.about-me-p {
  padding: 2em 0.3em;
  text-align: left;
}

.img-text-div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
}

.about-text-area {
  padding: 0.9em;
}

.img-text {
  min-height: 100%;
  min-width: 100%;
  display: none;
  font-size: 19px;
}

.recomendations p{
  padding: 0;
  text-align: left;
  color: var(--secondary);
  font-size: clamp(1.4em, 0.3vw, 2.5em);
  line-height: 1.75;
  font-weight: 300;
  padding: 30px 0;
  max-width: 60%;
  padding: 0 1em;
  padding-bottom: 1em;
  min-width: 100%;
}

@media only screen and (min-width: 767px) {
  .profile-img {
    object-fit: contain;

  }

  .img-text {
    display: block;
  }

  .img-text-div {
    background-color: rgb(150, 148, 148);
    padding: 1em;
    margin-top: 1em;
  }

  .img-text-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-me-p {
    padding: 2em;
    max-width: 60%;
  }

  .about-text-area, .recomendations {
    padding: 6em;
  }

  .recomendations{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-top: 0;
    
  }

}


