.project-section {
  background-color: var(--primary);
  color: var(--secondary);
  min-width: 100%;
  padding: 16px;
  padding-bottom: 0;
  border-radius: 4rem;
  position: relative;
  box-shadow: 0 0 7px 0px #5e5e5e;
  min-height: 100vh;
  z-index: 40;
}

.project-wrapper {
  padding-top: 1rem;
}

.time-div {
  color: var(--secondary);
  min-width: 100%;
  text-align: left;
  padding-left: 1em;
}

.time-div span{
  display: inline-block !important;
  text-align: center;
  background-color:#6477f019;
  border-radius: 4em;
  padding: 2px 15px;
}

.line {
  background-color: var(--secondary);
  height: 10px;
  max-width: 9em;
  border-radius: 20px;
}

.wifi {
  max-height: 23px;
  position: absolute;
  right: 9%;
  top: 0;
}

.phone-top {
  margin-top: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.phone-line-div {
  min-height: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.phone-line {
  min-height: 1px;
  margin-bottom: 25px;
  min-width: 50%;
  display: inline-block !important;
}

.Ac-card {
  cursor: pointer;
  min-width: 100%;
}

.projects {
  flex-wrap: wrap;
  padding-bottom: 3.5em;
}

.ac-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0;
}

.shop-circle {
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--secondary);
  width: 50px;
  height: 50px;
  border: 1px solid #1d1d1b12;
  position: absolute;
  bottom: 3.5%;
  right: 3.5%;
  transition: all 0.4s ease;
  display: none;
}

.ac-card-details div {
  min-width: 100%;
}

.ac-card-details button {
  min-height: 9.5vw;
  outline: none;
  border: 1px solid var(--linkColor);
  padding: 1em 1.5em;
  letter-spacing: 0.7px;
  background-color: inherit;
  color: inherit;
  border-radius: 4em;
  transition: all .1s ease-in-out;
}

.ac-card-details button:hover{
  background-color: pink;
  color: var(--primary);
}

.DisDev {
  border-bottom: 1px solid var(--linkColor);
  padding-bottom: 30px;
}

.phoneBtn {
  border: 3px solid var(--secondary);
  border-radius: 50%;
  color: var(--secondary);
  background-color: inherit;
  width: 65px;
  height: 65px;
  z-index: 1;
  transition: all 0.4s ease;
}

.phoneBtn:hover {
  width: 75px;
  height: 75px;
  border-color: rgb(209, 209, 209);
}

.ac-card-details h3 {
  padding-bottom: 20px;
  font-weight: 300;
}

.phone-btn-div {
  margin-top: 35px;
  width: 100%;
  z-index: 10;
  padding-bottom: 0;
  gap: 14px;
  flex-direction: column;
}
.phone-btn-div .box {
  min-height: 1.7em;
  width: 1.7em;
  background-color: var(--secondary);
  bottom: 17px;
  left: 26%;
}

.phone-btn-div .circle {
  min-height: 3.7em;
  min-width: 3.7em;
  border-radius: 50%;
  bottom: 17px;
  left: 26%;
  background-color: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(4px);
  border: 1px solid var(--linkColor);
}

.show-bg {
  padding: 0.3em;
}

.project-img {
  background-color: #00000034;
  backdrop-filter: blur(4px);
  width: 100%;
  display: block;
  min-height: 22em;
  max-height: 22em;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: 7;
}

.small-grid {
  font-size: 5px; 
}

@media only screen and (min-width: 720px) {
  .Ac-card {
    padding: 5px 1em;
  }

  .line {
    left: 43%;
  }

  .wifi {
    height: 30px;
    right: 10%;
  }

  .back-color img {
    display: block;
    object-fit: contain;
  }

  .line {
    display: none;
  }


  .project-img {
    padding: 30px;
  }
  .back-color {
    display: block;
    width: 100%;
    background-color: #545557e5;
    border: 1px solid rgb(71, 71, 71);
    backdrop-filter: blur(4px);
    border-radius: 1px;
    padding: 2em 1em;
  }

  .ac-card-details button {
    border-radius: 4em;
    width: auto;
    font-size: 16px;
    min-height: 0;
    padding: 13px 15px;
    font-weight: 100;
  }

  .ac-card-details {
    align-items: flex-start;
    padding: 10px;
  }

  .img-absolute-div {
    min-width: fit-content;
    background-size: contain;
    z-index: 1;
    background-color: rgba(34, 33, 33, 0.195);
    background-blend-mode: darken;
  }
}

.small-grid {
  font-size: 5px;
  border-radius: 4em;
  width: auto;
  font-size: 6px;
  padding: 0;
  font-weight: 100;
  background-color: pink;
  display: flex;
}

@media only screen and (min-width: 2000px) {
  .wifi {
    width: 7em;
    height: 4em;
  }

  .ac-card-details button {
    font-size: clamp(1em, 2vw, 2.5em);
    padding: 1.5em;
    border-radius: 3em;
    margin-bottom: 30px;
  }
}
