
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--secondary);
  font-style: normal;
  color: var(--primary);
  scroll-behavior: smooth;
  transition: var(--animationSmooth);
}

.fsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex{
  display: flex;
  align-items: center;
}

.fC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 99 !important;
  min-width: 100%;
  transition: var(--animationSmooth);
  animation-duration: 2s;
  animation-delay: 1s;
  min-height: 30px;
}



/* only applys on my hero text*/
.header--one {
  text-shadow: var(--boxShadow);
  font-size: clamp(4.2em, 2.3vw, 2.5em);
  line-height: 0.8;
  font-weight: 800;
  padding: 0 20px ;
  text-align: left;
 
}

/* applys on my body header text*/
.header--two {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: pink;
}

/*light header applys on my about header text*/
.header--three {
  font-weight: 400;
  font-size: 2rem;
}
/*header--two  applys on my main section header text*/


.body--text {
  width: 100%;
  font-size: clamp(1.4em, 0.3vw, 2.5em);
  line-height: 1.75;
  font-weight: 300;
  padding: 30px 0;
}

.body--text-2 {
  font-size: clamp( 1.2em, .3vw, 2.5em);
  font-weight: 300;
  padding: 1.3em;
  text-align: left;
  color: var(--primary);
  min-width: 100%;
  line-height: 1.6em;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}





@media only screen and (max-width: 380px){
  .header--one{
    font-size: clamp(3.2em, 2.3vw, 2.5em);
  }
  
}


@media only screen and (min-width: 1100px) {
  .header--one {
    font-size: clamp(3rem,-.057rem + 8vw,7.25rem);
    letter-spacing: -.5dvh;
  }

  .header--two{
    font-size: calc(clamp(3.25em, 7vw, 8em) * .375);
  }


}