.intro-section {
  min-width: 100%;
  position: sticky;
  top: 0;
  z-index: -10;
  min-height: 70vh;
  overflow: hidden;
}

.intro-text-section {
  padding: 3vw;
}

.ish {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: calc(clamp(3.25rem, 7vw, 8rem) * 0.875);
  line-height: 1.065;
  cursor: pointer;
  letter-spacing: .6px;
}


.hero--text--box{
  padding: 20px 4em;
}

.o2{
  font-size: small;
  color: var(--linkColor);
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
  font-weight: 700;
}

.div-line {
  border-top: 1px solid rgb(196, 195, 195); /* Adjust border thickness for visibility */
}



@media only screen and (min-width: 1040px) {
  .intro-text-section {
   text-align: left;
   display: grid;
   grid-template-columns: 4fr 8fr;
   padding-top: 5em;
  }
  .intro-par{
    padding:  0 1.4em;
    display: flex;
    width: 100%;
    gap: 10px;
    font-weight: 700;
  }

  .intro-par p{
    min-width: 0;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
  }
  
  .intro-text-section h2 {
    margin-top: 2vw;
  }
  .hero--text--box{
    padding: 20px;
    width: 100%;
  }
  .ish{
    text-align: left;
    font-size: calc(clamp(3.25rem, 5vw, 8rem) * 0.875);
  }
}
